<div class="row header">
            <div class="col-6 header-nav-logo">
                <div class="logo">
                    <img src="/images/logo.png" alt="">
                    <h1>Coffee Shop</h1>
                </div>
                <nav class="header-nav">
                    <a href="/">Главная</a>
                    <a href="/about">О нас</a>
                    <a href="/contacts">Контакты</a>
                </nav>
            </div>
            <div class="col-2 wrap-blocks-header">
                <div class="block-header">
                    <a href="/loved">
                        <img src="/images/loved.png" alt="">
                        <p>Избранное</p>
                    </a>
                </div>
                <div onclick="open_basket_modal()" class="block-header">
                    <p>
                        <img src="/images/korzina.png" alt="">
                        <p>Корзина</p>
                    </p>
                </div>
            </div>
            <div class="mobile-menu" class="col-6">
                <div onclick="open_mobile_menu()" class="block-header">
                        <img src="/images/menu.png" alt="">
                </div>
            </div>
        </div>