<div class="container-fluid mobile-menu-wrap">
        {{> header}}
        <div class="row mobile-menu-row"><a href="/">Главная</a></div>
        <div class="row mobile-menu-row"><a href="/loved">Избранное</a></div>
        <div onclick="open_basket_modal()" class="row mobile-menu-row"><a>Корзина</a></div>
        <div class="row mobile-menu-row"><a href="/about">О нас</a></div>
        <div class="row mobile-menu-row"><a href="/contacts">Контакты</a></div>
    </div>